/**
 * songs.styl
 * -------------
 */

.playlist {
  transition: opacity 600ms;
  overflow-y: scroll;
}

.song {
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: opacity 500ms;
  padding-left: 15px;
  margin-bottom: 15px;

  .cover-image{
    pointer-events: none;

    .image{
      width: 55px;
      height: 55px;
      background-size: cover;
      background-position: center;
    }
  }

  .song-info{
    position: relative;
    pointer-events: none;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;

    .artist{
      margin-top: 4px;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 300;
      color: gray;
    }

    .song-name{
      margin-top: 4px;
    }
  }

  .song-duration{
    pointer-events: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;

    .eq {
      margin-left: 5px;
      margin-right: 30px;
      transition: opacity 300ms;

      span{
        display: inline-block;
        width: 2px;
        height: 2px;
        margin-left: 4px;
        padding: 0;
        background-color: gray;
        transform: scaleY(2);
        transform-origin: bottom;
      }

      &[data-playing="false"]{
        span {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3){
            transition: opacity 600ms;
            animation: cancel 100ms;
            @keyframes eq1 {
              100% {transform: scaleY(2)}
            }
            @keyframes eq2 {
              100% {transform: scaleY(2)}
            }
            @keyframes eq3 {
              100% {transform: scaleY(2)}
            }
          }
        }
      }

      &[data-playing="true"]{
        span {
          &:nth-child(1){
            animation: eq1 600ms infinite;
            opacity: 1;
            @keyframes eq1 {
              100% {transform: scaleY(6)}
            }
          }

          &:nth-child(2){
            animation: eq2 800ms infinite;
            opacity: 1;
            @keyframes eq2 {
              100% {transform: scaleY(8)}
            }
          }

          &:nth-child(3){
            animation: eq3 400ms infinite;
            opacity: 1;
            @keyframes eq3 {
              100% {transform: scaleY(4)}
            }
          }
        }
      }
    }

  }

  p {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    color: gray;
  }
}
