/**
 * volume-section.styl
 * -------------
*/

.volume-section{
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;

  .logo{
    flex: 1 1 auto;
  }

  .volume-slider{
    position: relative;
    flex: 0 0 20vh;
    min-height: 295px;

    .volume-wraper{
      width: 100%;
      height: 260px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .input-range{
        transform-origin: bottom;
        transform: translateX(7px) translateY(-50px) rotate(-90deg);
      }

      .volume-value{
        margin-top: 20px;
      }
    }
  }
}
